.hero {
    background-position: bottom;
    height: 200px;
    text-align: center;
    margin-bottom: 40px;
}

.page-title {
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid;
    font-weight: normal;
    padding: 0 80px 15px 80px;
    font-family: italic;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}